@media screen and (min-width: 300px) and (max-width: 500px) {
    .wrapper {
        margin: 4vh;
        grid-gap: 4vh;
        height: 92vh;
        grid-template-areas:
            "a"
            "b"
            "c";
        grid-template-rows: 1fr 3fr 1fr;
    }
}